/*  Based on ipad pro as default 
    height: 100vh;  1024px 64rem
    width: 100vw;  1366px 85.375rem */

:root {
  --ipad-pro-width: 1024px;
  --ipad-pro-height: 1366px;
  --row1-width: 100vw;

}
@media screen and (min-width: 1024.25px ) {
  :root{
    --row1-width: var(--ipad-pro-width);
  }
  
}


.App {
  
  background-color: black;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  border: black solid 1px;
  width: var(--ipad-pro-width);
  height: var(--ipad-pro-height);
  color: white;
}


.row1 {
  display: flex;
  flex-direction: row;
  width: var(--row1-width);
  height: calc(var(--row1-width) / 3);
}


/* NAME */
.name {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--row1-width) / -15);
    width: var(--row1-width);
    height: calc(var(--row1-width) * 0.2)
} 
.name-text {
  font-size: calc(var(--row1-width) / 6);
  color: rgb(158, 65, 156);
}
.name-input {
  width: 50vw;
  height: 10vw;
  font-size: 5vw;
}
/* GRADE */
.grade {
  width: var(--row1-width);
  height: calc(var(--row1-width) * 0.35);
  background-image: url("./images/blackboard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.grade-text-wrapper{
  padding-top: calc(var(--row1-width) / 12);
  font-size: calc(var(--row1-width) / 16);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-text {
  font-size: calc(var(--row1-width) / 8);
  font-weight: bolder;
  margin-top: calc(var(--row1-width) / -28);
}
.grade-dropdown {
  font-size: calc(var(--row1-width) / 20);
  height: calc(var(--row1-width) / 10);
  width: calc(var(--row1-width) / 2);
}



/* AGE */
.age {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: calc(var(--row1-width) / 3); */
  width: calc(var(--row1-width) * 0.3);
  font-size: calc(var(--row1-width) / 6);
  background-image: url("./images/apple.png");
  background-repeat: no-repeat;
  background-size: calc(var(--row1-width) * 0.25);
  background-position: center;
}


.age-text {
  font-size: calc(var(--row1-width) / 8);
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 2vw black;
}
.age-input_wrapper{

  display: flex;
  align-items: center;
  justify-content: center;

}
.birthday-input{
  height: calc(var(--row1-width) / 15);
  width: calc(var(--row1-width) / 5);
  
  font-size: calc(var(--row1-width) / 30);
  
}
.favorite {
  --fav-height: calc(var(--row1-width) / 3);
  width: calc(var(--row1-width) * 0.3);
  /* height: calc(var(--row1-width) / 3); */
  font-size: calc(var(--row1-width) * 0.04);
  background-image: url("./images/file.png");
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.fav-wrapper {
  margin-top: calc(var(--fav-height) * 0.15);
}
.fav-list {
  text-align: center;
}
.fav-li {
  height: calc(var(--fav-height) /10);
  font-size: calc(var(--fav-height) /10);

}
.fav-input_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.fav-input{
  font-size: calc(var(--fav-height) /12);
  width: calc(var(--row1-width) * 0.18);
  /* margin-bottom: calc(var(--favorite-height) * 0.01); */
}
/* Date */
.date { 
  --date-width: calc(var(--row1-width) * 0.3);
  
  width: var(--date-width);
  background-image: url("./images/calendar2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: black;
}
.date-input {
  height: calc(var(--row1-width) / 15);
  width: calc(var(--row1-width) / 5);
  font-size: calc(var(--row1-width) / 40);
  margin-top: calc(var(--row1-width) / 9);
  margin-left: auto;
  margin-right: auto;
}
.date-text {
  text-align: center;
}
.date-m {
  margin-top: calc(var(--row1-width) / 3 /4.5);
  font-size: calc(var(--row1-width) / 18);
  color: white;
}
.date-d {

  font-size: calc(var(--row1-width) / 3 /3.5);
}
.date-y {

  font-size: calc(var(--row1-width) / 21);
}


.teacher {
  display: flex;
  /* justify-content: center; */
  height: calc(var(--row1-width) / 2);
  width: calc(var(--row1-width) / 2);
  font-size: calc(var(--row1-width) / 16);
  color: white;
  

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.teacher.m{
  background-image: url("./images/teacher_m.png");
}
.teacher.f {
  background-image: url("./images/teacher_f.png");
}
.teacher-text {
  /* border: 1px solid black; */

}
.teacher-text.m{
  margin-top: calc(var(--row1-width) * 0.05);
  margin-left: calc(var(--row1-width) * 0.2);
  
  width: calc(var(--row1-width) * 0.31);
  height: calc(var(--row1-width) * 0.2);
}
.teacher-text.f {
  margin-top: calc(var(--row1-width) * 0.02);
  margin-left: calc(var(--row1-width) * 0.03);
  
  width: calc(var(--row1-width) * 0.26);
  height: calc(var(--row1-width) * 0.23);
}
.teacher-input-wrapper {
   /* /display: flex; */
  height: calc(var(--row1-width) / 2 * 0.3);
  /* width: 100%; */
  

}
.title-dropdown{
  font-size: calc(var(--row1-width) * 0.05);
  height: calc(var(--row1-width) * 0.07);

}
.teacher-input-box {
  width: calc(var(--row1-width) * 0.3);
  font-size: calc(var(--row1-width) * 0.05);
  height: calc(var(--row1-width) * 0.07);


}
.career {
  height: calc(var(--row1-width) / 2);
  width: calc(var(--row1-width) / 2);
  background-image: url("./images/career.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

    font-size: calc(var(--row1-width) / 24);
}
.career-wrapper {
  border: 1px solid black;
  margin-top: calc(var(--row1-width) * 0.16);
  margin-left: calc(var(--row1-width) * 0.1);
  width: calc(var(--row1-width) * 0.31);
  height: calc(var(--row1-width) * 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}
.career-text {
  font-size: calc(var(--row1-width) / 14);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold ;
  height: calc(var(--row1-width) * 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}
.career-input-wrapper{
  width: calc(var(--row1-width) * 0.25);
  height: calc(var(--row1-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-input {
  font-size: calc(var(--row1-width) * 0.05);
  width: calc(var(--row1-width) * 0.25);

  height: calc(var(--row1-width) * 0.08);

} 
.crayon {
  --crayon-bg-width: calc(var(--row1-width) * 0.1);
  width: var(--crayon-bg-width);
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.crayon-bg {
  
  width: var(--crayon-bg-width);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 90% 80% ;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  background-image: url("./images/crayon-red.png");
}
.orange {
  background-image: url("./images/crayon-orange.png");
}
.yellow {
  background-image: url("./images/crayon-yellow.png");
}
.green {
  background-image: url("./images/crayon-green.png");
}
.blue {
  background-image: url("./images/crayon-blue.png");
}
.purple {
  background-image: url("./images/crayon-purple.png");
}
.crayon-text{
  margin-top: calc(var(--crayon-bg-width) / 3);
  transform: rotate(90deg);

  width: calc(var(--crayon-bg-width) * 3);
  height: calc(var(--crayon-bg-width) / 2);
  font-size: calc(var(--crayon-bg-width) * 0.4);
  
}
.crayon-color {
  font-size: 200px;
  
}
.color-dropdown {
  width: calc(var(--crayon-bg-height) * 0.6);
  height: calc(var(--crayon-bg-width) * 0.6);

  font-size: calc(var(--row1-width) / 60);
  
}
.multicolor-text {
  background: linear-gradient(to left,
          violet,
          indigo,
          blue,
          green,
          yellow,
          orange,
          red);
  -webkit-background-clip: text;
  color: transparent;
}



.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.comfortaa-bold-700 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
