/*  Based on ipad pro as default 
    height: 100vh;  1024px 64rem
    width: 100vw;  1366px 85.375rem */

:root {

  --calendar-height: 15vh;
  --col-width: 50vw;
  --name-height: 14vh;
  --name-width: 100vw;
  --grade-height: 25vh; 
  --grade-width: 100vw;
  --age-height: 25vh;
  --favorite-height: 37vh;
  --teacher-height: 25vh;
  --career-height: 25vh;
  --crayon-height: 10vh;
}
@media screen and (min-width: 1024.25px ) {
  :root{
    
    --grade-width: 64rem;
    /* --name-width: 1536px; */
  }
  
}
@media screen and (min-height: 1366.25px) {
  :root{
    --grade-height: calc(85rem / 4);

  }
  
}
.App {
  /* width: 1024px;
  height: 1366px; */
  width: 100vw;
  height: 100vh;
  
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: beige;
  
  margin-left: auto;
  margin-right: auto;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  border: gray solid 1px;
 
}
.row {
  display: flex;
  flex-direction: row;
}
.col-50 {
  width: var(--col-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAME */
.name {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--name-height) / 8);
    width: var(--name-width);
    height: var(--name-height);

}
.name-text {
  font-size: calc(var(--name-height));
  font-weight: bolder;
  color: rgb(158, 65, 156);
}
.name-input {
  width: 80vw;
  height: 10vw;
  font-size: 10vw;
}
/* GRADE */
.grade {
  width: var(--grade-width);
  height: var(--grade-height);
  background-image: url("./images/blackboard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  margin-top: calc(var(--grade-height) / -6);
}
.grade-text-wrapper{
  padding-top: calc(var(--grade-height) / 4);
  font-size: calc(var(--grade-height) / 6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-text {
  font-size: calc(var(--grade-height) / 2.5);
  font-weight: bolder;
  margin-top: calc(var(--grade-height) / -10);
}
.grade-dropdown {
  font-size: calc(var(--grade-height) / 10);
  height: calc(var(--grade-height) / 5);
  width: calc(var(--grade-height));
}

/* .age-text-wrapper {

} */

/* AGE */
.age {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--age-height);
  

  font-size: calc(var(--age-height) / 6);
}
.age-input_wrapper{

  display: flex;
  align-items: center;
  justify-content: center;

}
.age-wrapper {
  height: calc(var(--age-height) / 1.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/apple.png");
  background-repeat: no-repeat;
  background-size: calc(var(--age-height) * 0.5);
  background-position: center;
  margin-top: calc(var(--age-height) * -0.085);
  margin-bottom: calc(var(--age-height) * -0.085);
}
.age-text {
  font-size: calc(var(--age-height) / 3);
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 2vw black;
}

.age-input{
  height: calc(var(--font-size) * 1);
  width: calc(var(--font-size) * 1);
  
  font-size: calc(var(--font-size) * 2 /3);
  
}
.favorite {
  /* margin-top: 5rem;; */
  height: var(--favorite-height);
  font-size: calc(var(--favorite-height) / 9);
}
.fav-wrapper{
  height: calc(var(--favorite-height) * 0.75);
  background-image: url("./images/file.png");
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center;
}

.fav-list {
  font-size: calc(var(--favorite-height) * 0.09);
  padding-top: calc(var(--favorite-height) * 0.15);
  text-align: center;
}
.fav-li {
  margin-bottom: calc(var(--favorite-height) * -0.05);
}
.fav-input_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--favorite-height) * 0.15);
  
  

}
.fav-input{
  font-size: calc(var(--favorite-height) * 0.07);
  width: calc(var(--favorite-height) * 0.4);
  margin-bottom: calc(var(--favorite-height) * 0.01);
}
/* Date */
.date { 
  width: var(--calendar-height);
  height: var(--calendar-height);
  background-image: url("./images/calendar2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* position: relative; */
  margin-bottom: 2vh;

}
.date-input {
  margin-top: calc(var(--calendar-height) / 2);
  font-size: calc(var(--calendar-height) / 12);
}
.date-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.date-m {
  margin-top: calc(var(--calendar-height) / 6);
  font-size: calc(var(--calendar-height) / 5);
  color: white;
}
.date-d {

  font-size: calc(var(--calendar-height) / 3);
}
.date-y {

  font-size: calc(var(--calendar-height) / 6);
}


.teacher {
  display: flex;
  justify-content: center;
  height: calc(var(--teacher-height) );
  width: 50vw;
  font-size: calc(var(--teacher-height) /6);
  color: white;
  border: 0.75px;
  
}
.teacher.m{
  background-image: url("./images/teacher_m.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.teacher.f {
  background-image: url("./images/teacher_f.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}
.teacher-text {
  padding-top: 5vh;
  /* margin-left: -10vw; */

}
.teacher-dd-wrapper {
  padding-top: 3vh;
}
.title-dropdown{
  font-size: calc(var(--teacher-height) / 12);
  height: calc(var(--teacher-height) / 8 + 5.5px);

}
.teacher-input-box {
  width: 16vw;
  font-size: calc(var(--teacher-height) / 12);
  height: calc(var(--teacher-height) / 8);
}
.career {
  height: var(--career-height);
  width: 50vw;
  background-image: url("./images/career.png");
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    font-size: calc(var(--career-height) / 8);
}
.career-wrapper {
  padding-top: calc(var(--career-height) / 6);
}
.career-text {
  font-size: calc(var(--career-height) / 5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold ;
  height: calc(var(--career-height) / 4);
}
.career-input-wrapper{
  height: calc(var(--career-height) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-input {
  font-size: calc(var(--career-height) / 8);
  width: 25vw;
  
  /* margin-top: 1.3vh; */
}
.crayon {
  height: var(--crayon-height);
  width: 50vw;
  background-image: url("./images/crayon-red.png");
  background-repeat: no-repeat;
  background-size: 35vw calc(var(--crayon-height) * 0.75) ;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  color: white;
  font-size: calc(var(--crayon-height) / 4);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.crayon.red {
  background-image: url("./images/crayon-red.png");
}
.crayon.orange {
  background-image: url("./images/crayon-orange.png");
}
.crayon.yellow {
  background-image: url("./images/crayon-yellow.png");
}
.crayon.green {
  background-image: url("./images/crayon-green.png");
}
.crayon.blue {
  background-image: url("./images/crayon-blue.png");
}
.crayon.purple {
  background-image: url("./images/crayon-purple.png");
}
.crayon-text{
  padding-left: calc(var(--crayon-height) / 6);
}
.crayon-input-wrapper{
  padding-left: calc(var(--crayon-height) / 6);
}
.color-dropdown {
  width: var(--crayon-height);
  height: calc(var(--crayon-height) * 0.25);
  font-size: calc(var(--crayon-height) / 6);
  
}
.multicolor-text {
  background: linear-gradient(to left,
          violet,
          indigo,
          blue,
          green,
          yellow,
          orange,
          red);
  -webkit-background-clip: text;
  color: transparent;
}



.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.comfortaa-bold-700 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
