/*  Based on ipad pro as default 
    height: 100vh;  1024px 64rem
    width: 100vw;  1366px 85.375rem */

:root {
  --ipad-pro-width: 1024px;
  --ipad-pro-height: 1366px;
  
  --col-width: 50vw;
  --name-height: 14vh;
  --name-width: 100vw;
  --grade-height: 25vh; 
  --grade-width: 100vw;

  /* --age-width: 30vw; */
  --calendar-width: 30vh;
  --favorite-height: 37vh;
  --teacher-height: 25vh;
  --career-height: 25vh;
  --crayon-height: 5vh;

  --row1-width: 100vw;
  --row1-col-width: 33vw;
}
@media screen and (min-width: 1024.25px ) {
  :root{
    
    --grade-width: var(--ipad-pro-width);
    
    --name-width: var(--ipad-pro-width);
    --row1-width: var(--ipad-pro-width);
    --row1-col-width: calc(var(--ipad-pro-width) / 3);
  }
  
}

@media screen and (min-height: 1366.25px) {
  :root{
    /* --grade-height: calc(var(--ipad-pro-height) / 4); */
  }
  
}
.App {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: beige;
  
  /* margin-left: auto;
  margin-right: auto; */
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  /* text-align: center; */
  
 
}


.row1 {
  display: flex;
  flex-direction: row;

  width: var(--row1-width);
}
.col-33 {
 width: calc(var(--row1-width) / 3) !important;
}
.col-50 {
  width: var(--col-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAME */
.name {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--name-width) / -15);
    width: var(--name-width);
    height: calc(var(--name-width) * 0.2)
} 
.name-text {
  font-size: calc(var(--name-width) / 6);
  color: rgb(158, 65, 156);
}
.name-input {
  width: 50vw;
  height: 10vw;
  font-size: 5vw;
}
/* GRADE */
.grade {
  width: var(--grade-width);
  height: calc(var(--grade-width) * 0.35);
  background-image: url("./images/blackboard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.grade-text-wrapper{
  padding-top: calc(var(--grade-width) / 12);
  font-size: calc(var(--grade-width) / 16);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-text {
  font-size: calc(var(--grade-width) / 8);
  font-weight: bolder;
  margin-top: calc(var(--grade-width) / -28);
}
.grade-dropdown {
  font-size: calc(var(--grade-width) / 20);
  height: calc(var(--grade-width) / 10);
  width: calc(var(--grade-width) / 2);
}



/* AGE */
.age {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: calc(var(--row1-col-width) - var(--row1-col-width) * 0.095); */
  height: var(--row1-col-width);
  width: var(--row1-col-width);
  font-size: calc(var(--row1-col-width) / 6);
  background-image: url("./images/apple.png");
  background-repeat: no-repeat;
  background-size: calc(var(--row1-col-width) * 0.7);
  background-position: center;
}


.age-text {
  font-size: calc(var(--row1-col-width) / 4);
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 2vw black;
}
.age-input_wrapper{

  display: flex;
  align-items: center;
  justify-content: center;

}
.age-input{
  height: calc(var(--row1-col-width) /5);
  width: calc(var(--row1-col-width) / 5);
  
  font-size: calc(var(--row1-col-width) /5);
  
}
.favorite {
  /* margin-top: 5rem;; */
  height: var(--favorite-height);
  font-size: calc(var(--favorite-height) / 9);
}
.fav-wrapper{
  height: calc(var(--favorite-height) * 0.75);
  background-image: url("./images/file.png");
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center;
}

.fav-list {
  font-size: calc(var(--favorite-height) * 0.09);
  padding-top: calc(var(--favorite-height) * 0.15);
  text-align: center;
}
.fav-li {
  margin-bottom: calc(var(--favorite-height) * -0.05);
}
.fav-input_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--favorite-height) * 0.15);
  
  

}
.fav-input{
  font-size: calc(var(--favorite-height) * 0.07);
  width: calc(var(--favorite-height) * 0.4);
  margin-bottom: calc(var(--favorite-height) * 0.01);
}
/* Date */
.date { 
  height: var(--row1-col-width);
  width: var(--row1-col-width);
  background-image: url("./images/calendar2.png");
  background-repeat: no-repeat;
  background-size: calc(var(--row1-col-width) * 0.8);
  background-position: center;
  display: flex;
  flex-direction: column;
}
.date-input {
  width: calc(var(--row1-col-width) / 2);
  margin-top: calc(var(--row1-col-width) / 3);
  font-size: calc(var(--row1-col-width) / 15);
  margin-left: auto;
  margin-right: auto;
}
.date-text {
  text-align: center;
}
.date-m {
  margin-top: calc(var(--row1-col-width) / 4.5);
  font-size: calc(var(--row1-col-width) / 6);
  color: white;
}
.date-d {

  font-size: calc(var(--row1-col-width) / 3.5);
}
.date-y {

  font-size: calc(var(--row1-col-width) / 7);
}


.teacher {
  display: flex;
  justify-content: center;
  height: calc(var(--teacher-height) );
  width: 50vw;
  font-size: calc(var(--teacher-height) /6);
  color: white;
  border: 0.75px;
  
}
.teacher.m{
  background-image: url("./images/teacher_m.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.teacher.f {
  background-image: url("./images/teacher_f.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}
.teacher-text {
  padding-top: 5vh;
  /* margin-left: -10vw; */

}
.teacher-dd-wrapper {
  padding-top: 3vh;
}
.title-dropdown{
  font-size: calc(var(--teacher-height) / 12);
  height: calc(var(--teacher-height) / 8 + 5.5px);

}
.teacher-input-box {
  width: 16vw;
  font-size: calc(var(--teacher-height) / 12);
  height: calc(var(--teacher-height) / 8);
}
.career {
  height: var(--career-height);
  width: 50vw;
  background-image: url("./images/career.png");
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    font-size: calc(var(--career-height) / 8);
}
.career-wrapper {
  padding-top: calc(var(--career-height) / 6);
}
.career-text {
  font-size: calc(var(--career-height) / 5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold ;
  height: calc(var(--career-height) / 4);
}
.career-input-wrapper{
  height: calc(var(--career-height) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-input {
  font-size: calc(var(--career-height) / 8);
  width: 25vw;
  
  /* margin-top: 1.3vh; */
}
.crayon {
  width: var(--row1-col-width);
  height: var(--row1-col-width);

  color: white;
  font-size: calc(var(--row1-col-width) / 8);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;

}
.crayon-bg {
  width: calc(var(--row1-col-width) * 0.9 );
  height: calc(var(--row1-col-width) /4);
  
  
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: calc(var(--row1-col-width) * 0.9) calc(var(--row1-col-width) /4);
  background-position: center;
  transform: rotate(-45deg);
  

}
.red {
  background-image: url("./images/crayon-red.png");
  /* transform: rotate (-45deg); */
  
}
.orange {
  background-image: url("./images/crayon-orange.png");
}
.yellow {
  background-image: url("./images/crayon-yellow.png");
}
.green {
  background-image: url("./images/crayon-green.png");
}
.blue {
  background-image: url("./images/crayon-blue.png");
}
.purple {
  background-image: url("./images/crayon-purple.png");
}
.crayon-text{
  height: calc(var(--row1-col-width) /4);
  width: calc(var(--row1-col-width) * 0.75);
  padding-left: calc(var(--row1-col-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.crayon-color {
  font-size: 200px;
  
}
.color-dropdown {
  width: calc(var(--row1-col-width) * 0.75);
  height: calc(var(--row1-col-width) * 0.25);
  font-size: calc(var(--row1-col-width) / 10);
  
}
.multicolor-text {
  background: linear-gradient(to left,
          violet,
          indigo,
          blue,
          green,
          yellow,
          orange,
          red);
  -webkit-background-clip: text;
  color: transparent;
}



.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.comfortaa-bold-700 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
